* {
	box-sizing: border-box;
}

body {
	background-color: #111;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	overflow: hidden;
	margin: 0;
}
.container {
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 500px;
	flex-wrap: wrap;
	margin: -2px;
}
.square {
	width: 20px;
	height: 20px;
	background: #1d1d1d;
	padding: 2px;
	box-shadow: 0 0 2px #000;
	transition: 5s ease;
}
.square:hover {
	transition-duration: 0s;
	color: #1de7aa;
}
